[Unit]
Description=Emit Markiro runner runtime every minute

[Timer]
OnBootSec=1min
OnUnitActiveSec=1min
RandomizedDelaySec=5s
Unit=markiro-runner-monitoring.service

[Install]
WantedBy=timers.target
