[Unit]
Description=Emit Markiro custom metrics every minute

[Timer]
OnBootSec=2min
OnUnitActiveSec=1min
RandomizedDelaySec=10s
Persistent=true
Unit=markiro-monitoring-producer.service

[Install]
WantedBy=timers.target
