cloud_id                         = "replace-with-yandex-cloud-id"
folder_id                        = "replace-with-production-folder-id"
organization_id                  = "replace-with-yandex-organization-id"
github_repository                = "thevladbog/markiro"
github_repository_owner_id       = "47273232"
github_repository_id             = "1308139775"
github_infrastructure_environment = "production-infrastructure"
state_bucket_name                = "replace-with-globally-unique-markiro-state-bucket"
kms_key_id                       = "replace-with-existing-kms-key-id"
