cloud_id           = "replace-with-yandex-cloud-id"
folder_id          = "replace-with-production-folder-id"
organization_id    = "replace-with-yandex-organization-id"
github_repository  = "thevladbog/q"
github_environment = "production"
state_bucket_name  = "replace-with-globally-unique-markiro-state-bucket"
